[Unit]
Description=Messaging and Integration Patterns provider
After=network.target

[Service]
Type=forking
Environment=ACTIVEMQ_KILL_MAXSECONDS=3
ExecStart=/opt/activemq/bin/activemq start >/dev/null 2>&1
ExecStop=/opt/activemq/bin/activemq stop >/dev/null 2>&1
PIDFile=/opt/activemq/data/activemq.pid
User=activemq
Group=activemq

[Install]
WantedBy=multi-user.target
